{% extends 'base.html' %}
{% block title %}Создать новую задачу{% endblock %}
{% block content%}
<h1>Создать новую задачу</h1>
<div class="form  col-8">
    <form action="{% url 'task_add' %}" method="post">
        {% csrf_token %}
        <div class="mb-3 row">
            <label for="title" class="col-sm-2 col-form-label">Заголовок</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="title" name="title">
            </div>
        </div>
        <div class="mb-3 row">
            <label for="description" class="col-sm-2 col-form-label">Описание</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="status" class="col-sm-2 col-form-label">Статус</label>
            <div class="col-sm-10">
                <select id="status" name="status" class="form-select">
                    {% for choice in choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="mb-3 row">
            <label for="completion_date" class="col-sm-2 col-form-label">Выполнить до</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="completion_date" name="completion_date"
                    placeholder="YYYY-mm-dd">
            </div>
        </div>
        <div class="d-grid gap-2 col-8 mx-auto">
            <button type="submit" class="btn btn-outline-primary mb-3">Создать</button>
        </div>
    </form>
</div>
{% endblock %}